body, html {
    height: 100%;
    display: grid;
}

.container {
    height: 550px;
    width: 435px;
    margin: auto;
    padding: 15px;
    border: 1px #333 solid;
}

.display {
    border: 1px #333 solid;
    padding: 0 5px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-display {
    text-align: end;
    /* border: 1px red solid; */
    min-height: 35px;
}

.main-display {
    text-align: end;
    /* border: 1px orange solid; */
    min-height: 60px;
    font-size: 35px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    aspect-ratio: 1;
    border: 1px blue solid;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.zero {
    grid-column: 1 / span 2;
}